GROQ_API_KEY=gsk_...
SNOWFLAKE_ACCOUNT=
SNOWFLAKE_USER=
SNOWFLAKE_ROLE=NL_ASSISTANT_ROLE
SNOWFLAKE_WAREHOUSE=NL_ASSISTANT_WH
SNOWFLAKE_DATABASE=NL_ASSISTANT_DB
SNOWFLAKE_SCHEMA=ANALYTICS
SNOWFLAKE_PRIVATE_KEY_PATH=
