snowflake-connector-python==4.6.0
python-dotenv==1.2.2
dbt-core==1.11.12
dbt-snowflake==1.11.6
psycopg2-binary==2.9.12
SQLAlchemy==2.0.51
pandas==3.0.3
pyarrow==25.0.0
PyYAML==6.0.3
PyJWT==2.13.0
groq==1.5.0
requests==2.34.2
cryptography==49.0.0
